<div data-role="page" id="challenge-finish">
	<div data-role="header">
		<h1>Challenge finished</h1>
	</div>

	<div data-role="content">
		<div id="boris">
			<img src="" />
			<p class="quote"></p>
		</div>
		<div class="stats">
			<h2>Your score: <span>xx</span></h2>
			<p>Time: <span>12:02 (3rd fastest)</span></p>
			<p>Distance: <span>0.5km</span></p>
			<p>Total score: <span>yy</span></p>
			<p>You are now ranked xx of yy</p>
		</div>
		<a href="#challenges" data-role="button" data-theme="e">Try another challenge?</a>
	</div>
</div>