<div data-role="page" id="challenges">
	<div data-role="header">
		<h1>Choose your challenge</h1>
	</div>

    <div class="ui-bar ui-bar-a start">
            
    </div>

	<div data-role="content">	
	    <h2>Loading challenges...</h2>
	</div>
</div>

<div data-role="page" id="challenge-start" data-theme="e">
	<div data-role="header">
		<h1>Start Challenge</h1>
	</div>

	<div data-role="content">	
        <a href="#challenge-progress" data-role="button" data-theme="a">Start Challenge</a>
        <a href="#challenges" data-role="button" data-theme="c">Cancel</a>
	</div>
</div>