<div data-role="page" id="challenge-finish">
	<div data-role="header">
		<h1>Challenge finished</h1>
	</div>

	<div data-role="content">
	    <div class="ui-bar ui-bar-a start">
			<img src="/images/win2.jpg" />
			<h2>Congratulations!</h2>
			<p class="ui-li-desc">You scored <strong class="points">125</strong> points</p>
			<p class="ui-li-desc">You travelled <strong class="distance">0.5km</strong> in <strong class="time">10:05 minutes</strong></p>
			<a href="#challenges" data-role="button" data-theme="e">Try another challenge?</a>            
    	</div>
	</div>
</div>