<div data-role="page" id="challenge-finish">
	<div data-role="header">
		<h1>Challenge finished</h1>
	</div>

	<div data-role="content">
	    <div class="start" style="height:150px">
			<img src="/images/win2.jpg" />
			<h2>Congratulations!</h2>
			<p class="ui-li-desc">You scored <strong class="points">125</strong> points</p>
			<p class="ui-li-desc">You travelled <strong class="distance">3.23km</strong> in <strong class="time">15:05 minutes</strong></p>          
    	</div>
    	<a href="#challenges" data-role="button" data-theme="e">Try another challenge?</a>  
	</div>
</div>