<div data-role="page" id="challenge-progress">
	<div data-role="header">
		<a href="#challenge-cancel" data-icon="delete" data-rel="dialog">Cancel</a>
		<h1><span class="from">xx</span> to <span class="to">xx</span></h1>
		<a href="#challenge-finish" data-icon="check" data-theme="e">Finish challenge</a>
	</div>

	<div data-role="content">
		<div id="map" style="height:500px; width:500px;"></div>	
	</div>
</div>

<div data-role="page" id="challenge-cancel">
	<div data-role="content">
		<h1>Cancel challenge?</h1>
		<a href="#challenge-finish" data-icon="check" data-theme="e">Finish challenge</a>	
	</div>	
</div>
