<div data-role="page" id="challenge-progress">


	<div data-role="content">
		<div class="map">Map</div>	
	</div>
	

</div>

<div data-role="page" id="challenge-stats">
	<div data-role="header">
		<a href="#challenge-cancel" data-icon="delete" data-rel="dialog">Cancel</a>
		<h1><span class="from">xx</span> to <span class="to">xx</span></h1>
		<a href="#challenge-finish" data-icon="check" data-theme="e">Finish challenge</a>
	</div>

	<div data-role="content">
		<div class="stats">Map</div>		
	</div>
	
	<div data-role="footer">
		<div data-role="navbar">
			<ul>
				<li><a href="#challenge-progess" class="ui-btn-active">Map</a></li>
				<li><a href="#challenge-stats">Stats</a></li>
			</ul>
		</div>	
	</div>	
</div>

<div data-role="page" id="challenge-cancel">
	<div data-role="header">
		Cancel challenge?
	</div>

	<div data-role="content">
		<h1>Cancel challenge?</h1>		
	</div>	
</div>
