<div data-role="page" id="welcome">
	<div data-role="header">
		<h1>PedalMania</h1>
	</div>

	<div data-role="content">	
		<h2>Welcome {{user.name}}</h2>
		<img src="{{user.image}}" />		
		<p class="stats">
			Your total score is <span>{{user.total_score}}</span> which you have collected
			on {{no_of_journeys}} journey/s.
		</p>
		<p>
			You're currently ranked x of x PedalManiacs.
		</p>
		{% if last_journey %}
		<p>
			Last completed a journey <span class="timeago">{{ last_journey.date }}</span> from <strong>{{ last_journey.journey.from_place.name }}</strong> to <strong>{{ last_journey.journey.to_place.name }}</strong>.
			That challenge netted you <span class="score">{{ last_journey.score }}</span> points!
		</p>
		{% endif %}  
		<a href="#challenges" data-role="button" data-theme="e">Get pedalling!</a>
		<a href="/highscores" data-role="button">High scores</a>
		<a href="/user/history" data-role="button">Previous journeys</a>
	</div>
</div>