{% extends "base.html" %}

{% block pages %}
<div data-role="page" id="welcome">
	<div data-role="header">
		<h1>Peddlemania</h1>
	</div>

	<div data-role="content">	
		<p>Welcome XX</p>		
		<p class="stats"></p>
	</div>

	<div data-role="footer">
		Footer
	</div>
</div>

<div data-role="page" id="leaderboard">
	<div data-role="header">
		<h1>Leaderboard</h1>
	</div>

	<div data-role="content">	
		<p>Welcome XX</p>		
		<ol>
			<li>YY</li>
			<li>XX</li>
		</ol>
	</div>

	<div data-role="footer">
		Footer
	</div>
</div>
{% endblock %}

