{% extends "../base.html" %}

{% block pages %}

<div data-role="page" id="sign-in">
	<div data-role="header">
		<h1>Sign In</h1>
	</div>

	<div data-role="content">
		{% if message %}<span class="error">{{ message }}</span>{% endif %}
		<p>	
			{% if not auth %}
				<p><img src="/images/twitter_logo_s.png" alt="Twitter.com logo" /></p>
				<p><a href="/u/authorise" rel="external">Sign in using Twitter</a>.</p>
				<p>We promise never to send Tweets on your behalf without first asking permission. And just so
				you know, we'll look over your Twitter friends 
				to help you set up Pedal Mania challenges against them!</p>
			{% else %}
				You have already signed in using your Twitter account.
			{% endif %}
		</p>
	</div>

	<div data-role="footer">
		Footer
	</div>
</div>

{% endblock %}